---
import { SponsorList } from '~/constant'
---

<div class="container">
  <header class="my-4">
    <h2 class="text-2xl font-bold">赞助列表</h2>
  </header>

  <div class="grid grid-cols-1 gap-2 lg:grid-cols-3 md:grid-cols-2">
    {SponsorList.map(sponsor => (
      <div class="relative overflow-hidden border-2 rounded-xl transition-all duration-300 hover:scale-[1.02] hover:shadow-lg">
        <div class="flex flex-col gap-2 p-2">
          <div class="flex flex-col flex-wrap justify-between gap-2">
            <h3 class="font-medium tracking-tight">@{sponsor.name}</h3>
            <time class="text-sm">{sponsor.time}</time>
          </div>

          <a
            href={sponsor.project.url}
            target="_blank"
            class="inline-flex items-center gap-1 text-sm text-primary/90 transition-colors hover:text-primary"
          >
            项目：
            <span class="i-tabler-link h-4 w-4 transition-transform group-hover:rotate-12" />
            {sponsor.project.name}
          </a>

          <div class="mt-auto pt-2">
            <div class="flex items-center justify-between rounded-lg bg-primary/8 px-4 py-3 backdrop-blur-sm">
              <div class="flex items-center gap-2">
                <span class="i-tabler-pig-money h-5 w-5 text-primary/90" />
                <span class="text-sm font-medium">赞助金额</span>
              </div>
              <span class="text-primary font-semibold">
                ￥{sponsor.amount.toFixed(2)}
              </span>
            </div>
          </div>
        </div>
      </div>
    ))}
  </div>
</div>
