---
import type { PostSchema } from '~/types'
import { formatDate } from '~/utils'

type Props = PostSchema & {
  category: string
}

const {
  title,
  author,
  date: pubDate,
  modifiedDate,
  reading,
  words,
  category,
} = Astro.props
---

<header class="mb-6 flex flex-col justify-center border-b border-gray p-4">
  <h1
    class="pb-6 text-center text-3xl font-bold leading-tight"
  >
    {title}
  </h1>

  <div
    class="metas flex flex-wrap items-center gap-4 text-3.5"
  >
    <div title="作者">
      <span i-tabler-user />
      <span> {author} </span>
    </div>

    <div title="写作日期">
      <i i-tabler-calendar />
      <time> {formatDate(pubDate)} </time>
    </div>

    {modifiedDate && (
      <div title="最后修改日期">
        <i i-tabler-edit />
        <span>上次编辑于</span>
        <time> {formatDate(modifiedDate)} </time>
      </div>
    )}

    <div title={`预计 ${reading.toFixed(1)} 分钟`}>
      <i i-tabler-pencil />
      <span> {words}个字 </span>
    </div>

    <div title="分类">
      <i i-tabler-tag />
      <span> {category} </span>
    </div>
  </div>
</header>

<style>
.metas div {
  @apply: icon-box;
}
</style>
