---
import LinkBtn from '@cp/common/LinkBtn.astro'
import PostList from '@cp/blog/BlogList.astro'
import Layout from './Layout.astro'
import type { PostPage } from '~/types'

interface Props {
  page: PostPage
  title: string
  h1: string
}

const { page, title, h1 } = Astro.props
---

<Layout title={title}>
  <main
    class="mx-auto max-w-86ch flex flex-col items-center px-6"
  >
    <h1 class="mb-6 text-xl">
      {h1}
    </h1>

    <PostList posts={page.data} />

    <div class="mt-6 w-full flex items-center justify-between">
      { page.url.prev && (
        <LinkBtn
          href={page.url.prev}
        >
          上一页
        </LinkBtn>
      ) }
      { page.url.next && (
        <LinkBtn
          href={page.url.next}
          aclass="ml-auto"
        >
        下一页
        </LinkBtn>
      ) }
    </div>
    <slot name="footer" />
  </main>
</Layout>
