---
import { ViewTransitions } from 'astro:transitions'
import { SEO } from 'astro-seo'
import type { MarkdownLayoutProps } from 'astro'

import Footer from '@cp/common/Footer.astro'
import Header from '@cp/common/Header.astro'
import type { PostSchema } from '~/content/config'

interface props extends Partial<PostSchema> {
  title: string
  class?: string
}

type Props = {
  frontmatter?: MarkdownLayoutProps<props>['frontmatter']
} & props

const {
  title: _title,
  class: className,
  author,
  description,
  cover,
  date,
  tags,
  keywords: _keywords,
}
 = Astro.props.frontmatter || Astro.props

const desc = description || 'Chilfish\'s personal website, built with Astro & ❤️'
const image = cover || '/avatar.png'
const pubDate = (date ?? new Date()).toLocaleDateString()
const title = `${_title} | Chilfish`
const keywords = _keywords ?? tags?.join(', ') ?? 'blog'

const cookie = Astro.cookies

const theme = cookie.get('theme')?.value ?? (() => {
  cookie.set('theme', 'auto', {
    expires: new Date(Date.now() + 1000 * 60 * 60 * 24 * 365 * 10),
    path: '/',
  })
  return 'auto'
})()
---

<!doctype html>
<html
  class={theme}
  lang="en"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="/favicon.ico"
    />
    <link
      rel="sitemap"
      href="/sitemap-index.xml"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <meta
      name="author"
      content={author}
    />
    <meta
      name="keywords"
      content={keywords}
    />
    <SEO
      title={title}
      description={desc}
      openGraph={{
        basic: {
          title,
          type: 'website',
          image,
        },
        image: {
          url: image,
          alt: title,
        },
        optional: {
          description: desc,
        },
        article: {
          publishedTime: pubDate,
          modifiedTime: pubDate,
          authors: [author ?? 'Chilfish'],
        },
      }}
      twitter={{
        creator: '@chilllish',
        title,
        description: desc,
        image,
      }}
    />

    <script is:inline src="https://unpkg.com/nprogress@0.2.0/nprogress.js"></script>
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body
    class:list={[className]}
    transition:animate="fade"
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global lang="scss">
@import '@assets/main.scss';
@import '@assets/NProgress.scss';
</style>

<script is:inline>
NProgress.configure({
  showSpinner: false,
})

document.addEventListener('astro:before-preparation', () => {
  NProgress.start()
})
document.addEventListener('astro:after-preparation', () => {
  NProgress.done()
})
</script>
