---
import { ViewTransitions } from 'astro:transitions'
import { SEO } from 'astro-seo'
import type { MarkdownLayoutProps } from 'astro'

import Footer from '@cp/common/Footer.astro'
import Header from '@cp/common/Header.astro'

interface props {
  title: string
  author?: string
  date?: Date
  description?: string
  cover?: string
  aclass?: string
}

type Props = {
  frontmatter?: MarkdownLayoutProps<props>['frontmatter']
} & props

const { title, aclass, author, description, cover, date }
 = Astro.props.frontmatter || Astro.props

const desc = description || 'Chilfish\'s personal website, built with Astro & ❤️'
const image = cover || '/avatar.png'
const pubDate = (date ?? new Date()).toLocaleDateString()
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="/favicon.ico"
    />
    <link
      rel="sitemap"
      href="/sitemap-index.xml"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <meta
      name="author"
      content={author}
    />
    <SEO
      title={title}
      description={desc}
      openGraph={{
        basic: {
          title,
          type: 'website',
          image,
        },
        image: {
          url: image,
          alt: title,
        },
        optional: {
          description: desc,
        },
        article: {
          publishedTime: pubDate,
          modifiedTime: pubDate,
          authors: [author ?? 'Chilfish'],
        },
      }}
      twitter={{
        creator: '@chilllish',
        title,
        description: desc,
        image,
      }}
    />

    <script is:inline src="https://unpkg.com/nprogress@0.2.0/nprogress.js"></script>
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body
    class={aclass}
    transition:animate="fade"
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global lang="scss">
@import '@assets/main.scss';
@import '@assets/NProgress.scss';
</style>

<script is:inline>
function setDarkMode(document) {
  const theme = localStorage.theme ? 'dark' : 'light'
  const html = document.querySelector('html')
  html.classList.add(theme)
}

setDarkMode(document)

document.addEventListener('astro:before-swap', (ev) => {
  // Pass the incoming document to set the theme on it
  setDarkMode(ev.newDocument)
})
</script>

<script is:inline>
NProgress.configure({
  showSpinner: false,
})

document.addEventListener('astro:before-preparation', () => {
  NProgress.start()
})
document.addEventListener('astro:after-preparation', () => {
  NProgress.done()
})
</script>
