---
import Alert from '@cp/common/Alert.astro'
import BackToTop from '@cp/common/BackToTop.astro'
import Image from '@cp/common/Image.astro'
import ImagePreview from '@cp/common/ImagePreview.vue'
import PagesNav from '@cp/common/PagesNav.astro'
import AdjacentPosts from '@cp/post/AdjacentPosts.astro'
import Comments from '@cp/post/Comments.vue'
import PostMeta from '@cp/post/PostMeta.astro'
import PostTags from '@cp/post/PostTags.astro'
import TableOfContent from '@cp/post/TableOfContent.vue'
import type { PostSchema } from '~/content/config'

import type { Post, PrevNext } from '~/types'
import { formatDate, MONTH } from '~/utils/date'
import Layout from './Layout.astro'
import '@assets/post-details.scss'

interface Props {
  post: Post
  next: PrevNext
  prev: PrevNext
}
const { post, next, prev } = Astro.props

/**
 * 获取分类，如果是再根目录下的文章，返回 collection
 * 否则返回第一个 slug，即文件夹名
 */
function category() {
  const slugs = post.slug.split('/')
  if (slugs.length === 1)
    return post.collection

  return slugs[0]
}

const {
  title,
  author,
  date,
  maxDepthTOC,
  tags,
  cover,
} = post.data

const {
  Content,
  headings,
  remarkPluginFrontmatter,
} = await post.render()

const frontmatter = remarkPluginFrontmatter as PostSchema
---

<Layout
  {...frontmatter}
  class="relative mx-auto"
>
  <section
    id="page-top"
    class="flex px-4 sm:px-12"
  >
    <AdjacentPosts
      type={post.collection}
      slug={post.slug}
    />

    <main
      class="w-full"
      uno-md="mx-10 w-19/30"
    >
      <article>
        <PostMeta
          {...frontmatter}
          author={author!}
          date={date!}
          category={category()}
        />

        { Date.now() - date.valueOf() > 4 * MONTH && !tags.includes('diary') && (
          <Alert
            type="warning"
            class="mt-4"
          >
            本文发布于 {formatDate(date)}，内容可能已过时。
          </Alert>
        )}

        { cover && (
          <Image
            src={cover}
            alt={title}
            width={1200}
            height={630}
            class="h-64 w-full rounded-lg object-cover object-top-center transition-height sm:h-96"
          />
        )}

        <Content />

        <PostTags
          class="mt-4"
          tags={tags}
        />
      </article>

      <PagesNav
        prev={prev}
        next={next}
      />
      <Comments client:load />
    </main>

    { headings.length > 0 && (
      <TableOfContent
        headers={headings}
        maxDeep={maxDepthTOC || 4}
        client:idle
      />
    )}
  </section>

  <ImagePreview client:only="vue" />
  <BackToTop />
</Layout>

<style is:inline>
.form-control.input-contrast.gsc-comment-box-textarea {
  min-height: 13rem;
}
</style>
