---
import BackToTop from '@cp/common/BackToTop.astro'
import TableOfContent from '@cp/blog/TableOfContent.vue'
import BlogMeta from '@cp/blog/BlogMeta.astro'
import AdjacentBlogs from '@cp/blog/AdjacentBlogs.astro'
import Layout from './Layout.astro'
import '@assets/post-details.scss'
import type { Post } from '~/types'

type Props = {
  post: Post
}
const { post } = Astro.props

const { title, author, description, date, maxDepthTOC, tags, keywords } = post.data

const { Content, headings } = await post.render()
---

<Layout
  title={title}
  description={description}
  keywords={keywords}
  author={author}
  date={date}
  aclass="mx-auto relative"
>
  <section
    id="page-top"
    class="flex px-4 sm:px-12"
  >
    <AdjacentBlogs
      type={post.collection}
      slug={post.slug}
    />

    <main
      class="w-full"
      uno-sm="mx-10 w-19/30"
    >
      <article>
        <BlogMeta
          title={title}
          author={author!}
          pubDate={date!}
          tags={tags}
        />
        <Content />
      </article>
    </main>

    <TableOfContent
      headers={headings}
      maxDeep={maxDepthTOC || 4}
      client:idle
    />
  </section>

  <BackToTop />
</Layout>
