---
import Image from '@cp/common/Image.astro'
import BackToTop from '@cp/common/BackToTop.astro'
import PagesNav from '@cp/common/PagesNav.astro'
import AdjacentPosts from '@cp/post/AdjacentPosts.astro'
import PostMeta from '@cp/post/PostMeta.astro'
import PostTags from '@cp/post/PostTags.astro'
import TableOfContent from '@cp/post/TableOfContent.vue'
import Layout from './Layout.astro'

import type { Post, PrevNext } from '~/types'
import '@assets/post-details.scss'

interface Props {
  post: Post
  next: PrevNext
  prev: PrevNext
}
const { post, next, prev } = Astro.props

const { title, author, description, date, maxDepthTOC, tags, keywords, cover } = post.data

const { Content, headings } = await post.render()
---

<Layout
  title={title}
  description={description}
  keywords={keywords}
  author={author}
  date={date}
  class="relative mx-auto"
>
  <section
    id="page-top"
    class="flex px-4 sm:px-12"
  >
    <AdjacentPosts
      type={post.collection}
      slug={post.slug}
    />

    <main
      class="w-full"
      uno-md="mx-10 w-19/30"
    >
      <article>
        <PostMeta
          title={title}
          author={author!}
          pubDate={date!}
        />

        { cover && (
          <Image
            src={cover}
            alt={title}
            width={1200}
            height={630}
            class="h-64 w-full rounded-lg object-cover object-top-center transition-height sm:h-96"
          />
        )}

        <Content />

        <PostTags
          class="mt-4"
          tags={tags}
        />
      </article>

      <PagesNav
        prev={prev}
        next={next}
      />
    </main>

    { headings.length > 0 && (
      <TableOfContent
        headers={headings}
        maxDeep={maxDepthTOC || 4}
        client:idle
      />
    )}
  </section>

  <BackToTop />
</Layout>
